@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body,
html {
  width: 100%;
  height: 100%;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
}
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width: 325px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}
.qrcode-image img {
  height: 300px;
  width: 295px;
  border-radius: 20px;
}
.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 35px;
  width: 290px;
  height: 120px;
  font-family: "Outfit", sans-serif;
}
.heading {
  display: flex;

  justify-content: space-around;
  align-items: center;
}
.heading-text {
  margin: 0;
  font-size: 20px;
  font-family: "outfit", sans-serif;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  line-height: 1.25;
}
.sub-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-sub {
  font-size: 15px;
  font-family: "outfit", sans-serif;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
